Game_of_Life/*aux
Game_of_Life/*log
Game_of_Life/*nav
Game_of_Life/*out
Game_of_Life/*snm
Game_of_Life/*toc
Internet_Voting/*aux
Internet_Voting/*log
Internet_Voting/*nav
Internet_Voting/*out
Internet_Voting/*snm
Internet_Voting/*toc
**/*~*
